.nft-button{
    border: 1px solid #cac8c8;
    padding: .1em 0.5em;
    border-radius: 50px;
    background-color: gold;
    margin: 20px;
    font-size: 16px;
}
.NFT-transfer-modal{
    border: 1px solid #cac8c8;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    display: table;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding: 10px;
    background-color: #ffffff;
    transform: translateY(-50%);
}
.display-wallet-address {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 16.5px 14px;
    letter-spacing: inherit;
    border-radius: 4px;
    border: 1px solid rgb(175, 174, 174);
}